In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [78]:
df = pd.read_csv('./Dataset/Ship_Dataset.csv')

In [80]:
df.sample(5)

      Completed  Worker_Used  Compartment Country
7473          1         85.0            6  Brazil
111           0         68.0            8     USA
440           0         77.0            6   India
1663          1         91.0            6  Brazil
3052          0         68.0            5   India

In [82]:
df = df.drop('Country', axis = 1)

In [84]:
df.head()

   Completed  Worker_Used  Compartment
0          1          NaN            6
1          1         85.0            5
2          1         99.0            5
3          1          NaN            8
4          0         97.0            7

In [86]:
df.isnull().mean()*100

Completed       0.0
Worker_Used    18.9
Compartment     0.0
dtype: float64

In [88]:
df.sample(5)

      Completed  Worker_Used  Compartment
2862          1         66.0            6
6134          0         61.0            9
3436          0         70.0           10
5275          0         67.0            5
624           1         70.0            8

In [90]:
X = df.drop('Completed',axis = 1)
y = df['Completed']

In [92]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 2)

In [160]:
KNN = KNNImputer(n_neighbors = 7)
X_train_new = KNN.fit_transform(X_train)
X_test_new = KNN.transform(X_test)

In [161]:
pd.DataFrame(X_train_new, columns = X_train.columns).sample(2)

      Worker_Used  Compartment
1121         52.0          5.0
6987         63.0          7.0

In [162]:
clf = LogisticRegression()
clf.fit(X_train_new, y_train)
y_pred = clf.predict(X_test_new)

accuracy_score(y_test, y_pred)

0.6815

In [110]:
SI = SimpleImputer()
X_train_new2 = SI.fit_transform(X_train)
X_test_new2 = SI.transform(X_test)

In [112]:
clf1 = LogisticRegression()
clf1.fit(X_train_new2, y_train)
y_pred2 = clf1.predict(X_test_new2)

accuracy_score(y_test, y_pred2)

0.6815

In [166]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, X_train_new, y_train, cv=5)
print(scores.mean())

0.6980000000000001

In [168]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=42)
rf.fit(X_train_new, y_train)
print("RF Test accuracy:", rf.score(X_test_new, y_test))

RF Test accuracy: 0.674